p, h1, h2 {
  font-family: 'Stint Ultra Expanded', cursive;
}

form {
  margin: 2% auto;
}

.top {
  height: 15vh;;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-current, .content-list {
  height: 85vh;
}

.content-list {
  background: red;
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  overflow-y:scroll;
}

.content-current {
  width: 80%;
  max-width: 1000px;
}

.content-current-icons, .content-current-icons2 {
  display: flex;
  flex-direction: row;
}

.content-current-icons {
  align-items: baseline;
}

.content-current-icons2 {
  justify-content: flex-end;
}

.content-current-output {
  border: black 2px solid;
  height: 40vh;
  margin: 2vh auto;
  overflow-y:scroll;
}